.newInvoicesBtn {
  border: none;
 
 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.newInvoicesForm {
  height: 100vh;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 109px;
  opacity: 1;
  background: rgba(255, 255, 255, 1);

  h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.5px;
    text-align: left;
    color: rgba(12, 14, 22, 1);
    margin-bottom: 20px;
  }

  h4 {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
    text-align: left;
    color: rgba(124, 93, 250, 1);
    margin-bottom: 24px;
  }

  input {
    border: 1px solid rgba(223, 227, 250, 1);
    padding: 17px 20px;
    border-radius: 5px;
  }

}

.formsections {
  height: 670px;
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 20px;
  position: relative;

}

.formsections::-webkit-scrollbar {
  width: 10px;
}

.formsections::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

.formsections::-webkit-scrollbar-thumb {
  background: rgba(223, 227, 250, 1);
  border-radius: 20px;
}

.formsections::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.formsectionRow {
  margin-bottom: 25px;
  position: relative;


  h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.375px;
    text-align: left;
    color: rgba(119, 127, 152, 1);
    margin-bottom: 14px;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-bottom: 25px;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: rgba(126, 136, 195, 1);
  }

  .citypostcountry {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    label {
      width: 152px;
    }
  }

  .dateterms {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    label {
      width: 100%;
    }

    select {
      border: 1px solid rgba(223, 227, 250, 1);
      padding: 17px 20px;
      border-radius: 5px;
      appearance: none;
    }
  }

  .featuresItem {
    display: grid;
    grid-template-columns: 30% 10% 30% 30%;

    p {
      font-size: 13px;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: -0.10000000149011612px;
      text-align: left;
      color: rgba(126, 136, 195, 1);
      margin-bottom: 15px;
    }

  }
}

.formsectionRow:last-child {
  padding-bottom: 20%;
}

.featuresInputItem {
  display: grid;
  grid-template-columns: 25% 7% 25% 20% 6%;
  align-items: center;
  gap: 16px;

  input[type=number] {
    all: unset;
    width: initial;
    padding-inline: 5px;
    height: 48px;
    border: 1px solid rgba(223, 227, 250, 1);
    border-radius: 5px;
    position: relative;
    top: -10px;
  }


  input {
    height: 48px;
    margin-bottom: 18px;
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

.addnewItemBtn {
  width: 100%;
  padding: 15px;
  border-radius: 24px;
  background: rgba(249, 250, 254, 1);
  text-align: center;
  border: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: center;
  color: rgba(126, 136, 195, 1);
}

.formBtnList {
  background: white;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;

  button {
    padding: 17px 24px;
    border-radius: 50px;
    background: rgba(249, 250, 254, 1);
    border: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
    text-align: left;
    color: rgba(126, 136, 195, 1);
  }

  .saveBtns {
    display: flex;
    gap: 8px;

    >button:nth-child(1) {
      background: rgba(55, 59, 83, 1);
      font-size: 15px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: -0.25px;
      text-align: left;
      color: rgba(136, 142, 176, 1);
    }

    button:nth-child(2) {
      background: rgba(124, 93, 250, 1);
      font-size: 15px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: -0.25px;
      text-align: left;
      color: rgba(255, 255, 255, 1);
    }
  }


}

.newInvoicesBtn {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
  background: rgba(124, 93, 250, 1);
  padding: 8px;
  border-radius: 32px;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: left;


  svg { 
    width: 32px;
    height: 32px;
    padding: 10px;
    border-radius: 16px;
    background: white;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}
 
@media (width <= 768px) {
  .newInvoicesBtn {


    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }
  }

  .newInvoicesForm{ 
    left: 0;
    padding: 10px !important;
  }


}