.invoiceDetail {
  width: 856px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0px auto;
  padding-top: 24px;
  justify-content: space-between;
  border-radius: 10px;
}

.back a {
  display: flex;
  align-items: start;
  gap: 23.66px;
  text-decoration: none;

  p {
    font-family: League Spartan;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
    text-align: left;
    color: rgba(12, 14, 22, 1);
  }
}

.detailHeader {
  width: 808px;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
}

.invoicedetailheader {
  width: 159px;
  display: flex;
  gap: 20px;
  align-items: center;

  li {
    background-color: #FFF9F0;
    padding: 14px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
    text-align: left;
    color: rgba(255, 143, 0, 1);
  }

  p {
    width: 35px;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: rgba(133, 139, 178, 1);
  }

}

.invoicedetailbtn {
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    padding: 10px;
    border-radius: 50px;
    border: none;
    background: #F9FAFE;
    color: rgba(126, 136, 195, 1);
  }
}

.invoicedetailbtn .dlt {
  background: #EC5757;
  color: white;
  padding: 10px 20px;
}

.invoicedetailbtn .save {
  color: white;
  padding: 10px 20px;
  background: #7C5DFA;
}

.detailContent {
  width: 808px;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px -10px #48549f1a;
  border-radius: 8px;
  padding: 48px;

  h4 {
    color: rgba(12, 14, 22, 1);
  }

  p {
    color: rgba(126, 136, 195, 1);
  }

  h2 {
    color: white;
  }
}

.dcTop {
  display: flex;
  justify-content: space-between;
}

.dctLeft {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.dctlTop {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.25px;
  text-align: left;
}

.dctlBottom {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #7e88c3;
}

.dctRight {
  color: #7e88c3;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.10000000149011612px;
  text-align: right;
}

.dcMedium {
  margin-top: 21px;
  display: flex;
  gap: 118px;
  margin-bottom: 44px;
}

.dcmLeft {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.itemsContainer {
  background-color: #f9fafe;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  padding-inline: 32px;
  padding-top: 32px;
  padding-bottom: 39px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .item-item:nth-child(1) {
    position: sticky;
    top: -32px;
    background: #f9fafe;
    padding: 10px;
  }

  .item-item {
    display: grid;
    grid-template-columns: 35% 20% 15% 10%;
    justify-content: space-between;
  }

  .items-item {
    display: grid;
    grid-template-columns: 35% 20% 15% 10%;
    justify-content: space-between;
  }
}

.itemsContainer::-webkit-scrollbar {
  width: 10px;
}

.itemsContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.itemsContainer::-webkit-scrollbar-thumb {
  background: #b3bcdf;
  border-radius: 10px;
}

dialog {
  margin: auto;
  padding: 50px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
  background: white;
  border: none;
  border-radius: 20px;
}

.dialogCont {
  display: flex;
  flex-direction: column;
  gap: 12px;

  h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.5px;
    text-align: left;
  }

  p {
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: rgba(136, 142, 176, 1);
  }

  .dialogBtns {
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;

    button:nth-child(1) {
      background: rgba(249, 250, 254, 1);
      font-size: 15px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: -0.25px;
      text-align: left;
      color: rgba(126, 136, 195, 1);
      border: none;
      border-radius: 20px;
      padding: 18px 15px;
    }

    button:nth-child(2) {
      background: rgba(236, 87, 87, 1);
      font-size: 15px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: -0.25px;
      text-align: left;
      color: white;
      border: none;
      border-radius: 20px;
      padding: 18px 15px;
    }
  }
}

.itemsDetail {
  display: flex;
  gap: 96px;
}

.dcFooter {
  display: flex;
  background-color: #373b53;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}


@media (width <=768px) {
  .invoiceDetail {
    width: 95%;
    margin: 0px auto; 
    padding-top: 120px;
  }

  .detailHeader {
    width: 95%;
  }

  .invoicedetailheader {
    width: 95%;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .newInvoicesBtn {
    width: 73px;
    font-family: League Spartan;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
    text-align: left;
    flex-wrap: wrap;
    justify-content: center;

  }

  .dlt {
    width: 89px;
  }

  .save {
    width: 131px;
    font-family: League Spartan;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
    text-align: left;
  }
 
  .detailContent {
    width: 95%;
    padding: 24px;
  }

  .detailHeader {
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .invoicedetailbtn{
    flex-wrap: wrap;
    justify-content: center;
  }
  .newInvoicesBtn{
    width: auto;  
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px !important;
  }
   .dcMedium{
    display: flex;
    flex-wrap: wrap;
   }

   .itemsContainer{
    padding: 5px;
    .item-item:nth-child(1){
      display: none;
    }
    .items-item{
      display: flex;
      justify-content: space-around;
      align-items: center;
      *{
        width: 25%;
        text-align: center;
      }
    }
   }
}
