.invoiceDetail {
  width: 730px;
  padding: 24px;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 100px auto;
  justify-content: space-between;
  border-radius: 10px;
}

.invoicedetailheader {
  width: 159px;
  display: flex;
  gap: 20px;
  align-items: center;

  li {
    background-color: #FFF9F0;
    padding: 14px;
    border-radius: 10px; 
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
    text-align: left;
    color: rgba(255, 143, 0, 1);
  }

  p {
    width: 35px; 
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: rgba(133, 139, 178, 1);
  }

}

.invoicedetailbtn {
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    padding: 10px;
    border-radius: 50px;
    border: none;
    background: #F9FAFE;
    color: rgba(126, 136, 195, 1);
  }
}

.invoicedetailbtn .dlt {
  background: #EC5757;
  color: white;
  padding: 10px 20px;
}

.invoicedetailbtn .save {
  color: white;
  padding: 10px 20px;
  background: #7C5DFA;
}